@import "grid";
@import "classes";

#container{
	.contenitore();
}
header{
	.riga();
}

#main{
	.grid_8();
	
	#benvenuto{
        background: #FFFFE0;
        border: 2px solid #E6DB55;
        padding: 10px;
   }
}

aside{
	.grid_4();
}

footer{
	.riga();
}

.single #container{

  #main{ .grid_9(); }

  aside{ .grid_3(); }

}


























